/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap');
*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: poppins;
}

header{
    overflow-x: hidden;
}


header a{
    font-family: poppins;
    font-size: 0.95em;
    color:white;
}

header .nav-item:last-child{
    padding-right: .9em;
}

header .nav-item{
    padding:.9em;
}


.navbar {
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-color: transparent!important;
   
}


.navbar-brand {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}


.banner{
   -webkit-background-size:cover;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption{
    padding-bottom: 250px;
    font-family: poppins;
}

.carousel-caption{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-caption h2 span {
    color:#edbb00;
}

.carousel-caption a{
    background:#edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color:#fff;
    text-transform: uppercase;
    border-radius: 25px;
}
.carousel-caption .right{
    background-image:none;
}

.carousel-caption .left{
    background-image:none;
}

.carousel-indicators .active{
    background-color: #edbb00;
    border-color: #edbb00;
}

.navbar-inverse{
    background-color: transparent;
    border-color: transparent; 
}

.navbar-inverse .navbar-brand{
    color: #fff;
}

.navbar-inverse .navbar-nav > li > .nav-link{
    color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav > li.nav-item.active > a{
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.76);
    border-color: rgba(255, 255, 255, 0.699);
    background-color: #f8f9fa;
}

.navbar-light .navbar-toggler-icon {
    color: rgba(255, 255, 255, 0.959);
    border-color: rgba(255, 255, 255, 0.925);
}


.carousel-item img {
    opacity: 0.9;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.534);
  }


 @media only screen and (min-width:1025px) and (max-width:1600px){
    .banner{
        height: 78vh;
    }
    .carousel-caption{
        padding-bottom: 200px;
    }
    .carousel-caption h2{
        font-size: 16px;
    }
    .carousel-caption p{
        font-size: 30px;
    }
 } 

@media only screen and (min-width:992px) and (max-width: 1024px){
    .carousel-caption{
        padding-bottom: 100px;
    }
    .carousel-caption h2{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 30px;
    }
    .banner{
        height: 40vh;
    }
}



@media only screen and (min-width:768px) and (max-width: 991px){
        .carousel-caption{
            padding-bottom: 100px;
        }
        .carousel-caption h2{
            font-size: 15px;
        }
        .carousel-caption p{
            font-size: 30px;
        }
        .banner{
            height: 40vh;
        }
}

@media only screen and (max-width: 767px) {
    
    .banner{
        height: 30vh;
    }
    .navbar-inverse .navbar-brand{
        font-size: 14px;
        margin-top: 10px;
    }
    .navbar-collapse{
        background: rgba(0,0,0,0.5);
    }

    .carousel-caption{
      color: rgb(255, 255, 255);
        padding-bottom: 10px;
    }
    .carousel-caption h2{
      font-size: 10px;
      color: rgb(255, 255, 255);
    }
    .carousel-caption p{
        font-size: 20px;
    }
 
}


.resize-h6{
    font-size: 18px;
}
.resize-p{
    font-size: 50px;
}



/* css - meet the team*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* main content area */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.service-26 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-26 h1, .service-26 h2, .service-26 h3, .service-26 h4, .service-26 h5, .service-26 h6 {
  color: #3e4555;
}

.service-26 .font-weight-medium {
	font-weight: 500;
}

.service-26 .badge {
	line-height: 14px;
}

.service-26 .badge-info {
	background: #188ef4;
}

.service-26 .wrap-service-26 .max-box {
  max-width: 580px;
}

.service-26 a {
	text-decoration: none;
}

.service-26 .linking {
	color: #3e4555;
}

.service-26 .linking:hover {
	color: #316ce8;
}


/* new articles or latest new css*/

.article-list {
    color:#ffffff;
    background-color:#fff;
  }
  
  .article-list p {
    color:#ffffff;
  }
  
  .article-list h2 {
    font-weight:bold;
    margin-bottom:25px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .article-list h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .article-list .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .article-list .intro p {
    margin-bottom:0;
  }
  
  .article-list .articles {
    padding-bottom:40px;
  }
  
  .article-list .item {
    padding-top:50px;
    min-height:425px;
    text-align:center;
  }

  i.fa.fa-arrow-circle-right{
    color: #0077ff;
  }
  


  .reduce-opacity{
    background-color: rgba(56, 33, 75, 0.4);
  }
   
  .article-bg-color{
      background-color: rgba(18, 67, 122, 0.486);
  }


  .article-text-under-image{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }